.item-list .list-group-item {
  cursor: pointer;
}

.item-list .list-group-item:hover {
  background-color: #444;
}

.list-group-flush>.list-group-item:last-child {
  border-bottom-width: 1px;
}

.list-group-flush + .error-button {
  margin-top: .75rem;
}